@charset "utf-8";

/* Elementos */


body {
	font-family: verdana;
	font-size: 12px;
	color: #333;
}

a { text-decoration: none; color: #1E4785; }
a:hover { text-decoration: underline; color: #e80; }

div {
  float: left;
}

fieldset div label {
	display: inline;
}

#menu {
  width: 200px;
}

#topo {
  width:770px;
}

#rodape {
	text-align: center;
	background-color: #eee;
	padding: 10px;
	border-top: 1px solid #aaa;
	margin-top: 5px;
  width:100%;  
}

#geral {
  float:none;
	width: 970px;
	margin: 0 auto 0px auto;
}

#conteiner {
	width: 770px;
	margin: 0 auto 5px auto;
}

#conteudo {
  width:100%;
}

h1 {
	font-size: 3em;
	padding-top: 30px;
}

h2 {
	border-bottom: 1px solid #E80;
	color: #E80;
	margin: 10px 0 10px 0;
	padding: 3px 0;
	font-size: 16px;
}

h3 {
	margin: 10px 0;
	font-size: 14px;
}

#menu-principal {
	display: block;
}

#menu-principal li {
	display: block;
	margin-left: 5px;
  margin-top:  5px;
  padding: 2px;
}

#menu-principal li:hover { 
	background-color: #E1EFF6;
}

.submenu {
	margin-bottom: 4px;
}

.submenu li {
	display: inline;
	margin-right: 5px;
}

fieldset {
	border: 1px solid #ccc;
	background-color: #eee;
	padding: 10px;
}

fieldset textarea {
	width: 99%;	
}

fieldset p {
	padding: 5px 0;
}

select {
  font-color: #000000; 
  color: #000000; 
  background-color: #FFFFFF;
}

fieldset p input, fieldset p textarea {
	border: 1px solid #666;
	padding: 2px;
}

fieldset p.submit {
	border-top: 1px solid #333;
}

fieldset p.submit input {
	cursor: pointer;
}

fieldset label {
	display: block;
	font-weight: bold;
	line-height: 17px;
}

fieldset span {
	display: block;
	color: #333;
	font-style: italic;
}

table {
	border-collapse: collapse;
}

table tr th {
	font-weight: bold;
	text-align: left;
	padding: 3px;
}

table caption {
  font-size: 140%;
	font-weight: bold;
	text-align: center;
	padding: 3px;
}

table thead th {
	background-color: #E1EFF6;
}

table tfoot td {
  font-size: 70%;
	text-align: center;
	padding: 3px;
  background-color: #E1EFF6;
}

table tr.hover td {
	background-color: #E1EFF6;
}

#alternaterow td {
	background-color: #E1EFF6;
}


table tr td, table tr th {
	padding: 3px;
	border-bottom: 1px solid #efefef;
	vertical-align: middle;
}

#lang {
	float: right;
	margin-top: 5px;
}


ul {
 list-style-type: circle;
}

/*li {
  display: block;
}*/

#lang li {
	display: inline;
	margin-right: 10px;
}

.hidetxt {
	overflow: hidden;
	text-indent: -1000px;
}

#message {
	margin: 10px 20px;
	padding: 15px;
}

#message.error {
	background-color: #fcc;
	border: 1px solid #f55;
}

#message.ok {
	background-color: #ffc;
	border: 1px solid #ff5;
}

#message p {
	padding: 5px;
	font-weight: bold;
}

#message li {
	list-style: circle inside;
	padding-left: 20px;
	line-height: 17px;
}

.hide {
	display: none;
}
